<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>RedDigitalCinema</string>
		<key>children</key>
		<array>
			<dict>
				<key>title</key>
				<string>Recon</string>
				<key>id</key>
				<string>31</string>
			</dict>
			<dict>
				<key>title</key>
				<string>EPIC-M OWNERS</string>
				<key>id</key>
				<string>63</string>
			</dict>
			<dict>
				<key>title</key>
				<string>RedDiscussion</string>
				<key>id</key>
				<string>48</string>
			</dict>
			<dict>
				<key>title</key>
				<string>CrucialOrdnance</string>
				<key>id</key>
				<string>50</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>DSMCSystem</string>
		<key>children</key>
		<array>
			<dict>
				<key>title</key>
				<string>Epic</string>
				<key>id</key>
				<string>39</string>
			</dict>
			<dict>
				<key>title</key>
				<string>RedOne</string>
				<key>id</key>
				<string>4</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Scarlet</string>
				<key>id</key>
				<string>33</string>
			</dict>
			<dict>
				<key>title</key>
				<string>DSMCFashionPhotography</string>
				<key>id</key>
				<string>68</string>
			</dict>
			<dict>
				<key>title</key>
				<string>RedWorkflow</string>
				<key>id</key>
				<string>5</string>
			</dict>
			<dict>
				<key>title</key>
				<string>DSMCAccessories</string>
				<key>id</key>
				<string>34</string>
			</dict>
			<dict>
				<key>title</key>
				<string>RedRay</string>
				<key>id</key>
				<string>40</string>
			</dict>
			<dict>
				<key>title</key>
				<string>PostProductionHardware</string>
				<key>id</key>
				<string>70</string>
			</dict>
			<dict>
				<key>title</key>
				<string>BugsProblemsHelp</string>
				<key>id</key>
				<string>27</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>ShootingRed</string>
		<key>children</key>
		<array>
			<dict>
				<key>title</key>
				<string>ShotOnRed</string>
				<key>id</key>
				<string>23</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Cinematography</string>
				<key>id</key>
				<string>28</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Audio</string>
				<key>id</key>
				<string>32</string>
			</dict>
			<dict>
				<key>title</key>
				<string>LensTests</string>
				<key>id</key>
				<string>6</string>
			</dict>
			<dict>
				<key>title</key>
				<string>EfpEngRed</string>
				<key>id</key>
				<string>10</string>
			</dict>
			<dict>
				<key>title</key>
				<string>3D</string>
				<key>id</key>
				<string>49</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>EverythingElse</string>
		<key>children</key>
		<array>
			<dict>
				<key>title</key>
				<string>OffTopic</string>
				<key>id</key>
				<string>8</string>
			</dict>
			<dict>
				<key>title</key>
				<string>ForSale</string>
				<key>id</key>
				<string>69</string>
			</dict>
			<dict>
				<key>title</key>
				<string>ForHire</string>
				<key>id</key>
				<string>19</string>
			</dict>
			<dict>
				<key>title</key>
				<string>RentalGroup</string>
				<key>id</key>
				<string>24</string>
			</dict>
			<dict>
				<key>title</key>
				<string>RedUserGroups</string>
				<key>id</key>
				<string>9</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Complaints</string>
				<key>id</key>
				<string>38</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Unboxing</string>
				<key>id</key>
				<string>36</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
